.footer{
  padding: 30px 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.upper-f{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 30px;
}

.line-f{
  width: 20%;
  height: 3px;
  background-image: url('/photo-1557682224-5b8590cd9ec5.webp');
  background-repeat: repeat-x;
  background-position: 0 80%;
}

.mid-f{
  color: white;
}

.down-f{
  color: white;
  font-size: clamp(15px, 1vw, 50px);
  display: flex;
  gap: 20px;
}

.down-f a{
  border-bottom: solid 1px;
  transition: all .2s ease-in-out;
}

.down-f a:hover{
  color: rgb(255, 0, 111);
  cursor: pointer;
}
