.icon {
  opacity: 0.8;
  font-size: clamp(24px, 1.5vw, 40px);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  min-width: 30px;
}

.icon:hover {
  transform: scale(1.2);
  opacity: 1;
}

.iconCont {
  gap: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

a{
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
  display: flex;
}