.about {
  width: 100vw;
  background-image: url("/photo-1557682224-5b8590cd9ec5.webp");
  background-size: 150%;
  background-position: 300% 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 580px;
  height: 40vh;
  max-height: 600px;
  overflow: hidden;
  margin-bottom: clamp(30px, 3vw, 51px);
}
.profile,
.descripcion {
  padding: 20px;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  min-width: 380px;
  max-width: 450px;
}
.profilePic {
  width: 100%;
  border-radius: 30px;
}
.descripcion {
  font-size: 20px;
  width: 50%;
  height: 70%;
  font-weight: 400;
  padding: 30px;
}
.desCont {
  min-width: 300px;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.parrafo {
  text-align: left;
  line-height: 130%;
  width: 100%;
  font-size: 21px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.titulo {
  font-size: 45px;
}
@media screen and (max-width: 1000px) {
  .about {
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: initial;
    max-height: initial;
    background-position: 300% 99%;
    background-size: 380%;
  }
  .descripcion {
    padding: 0px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }
  .desCont {
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-bottom: 30px;
  }
  .profile {
    display: flex;
    align-items: flex-end;
    padding: 30px;
  }
  .profilePic {
    width: 70%;
  }
  .parrafo {
    text-align: center;
    width: 100%;
    font-size: 20px;
  }
  .titulo {
    font-size: 35px;
  }
}
@media screen and (max-width: 500px) {
  .desCont {
    width: 80%;
  }
  .titulo {
    font-size: 30px;
  }
  .parrafo {
    width: 100%;
    font-size: clamp(15px, 2.6vw, 20px);
  }
  .profilePic {
    width: 60%;
  }
}
@media screen and (max-width: 350px) {
  .desCont {
    width: 80%;
  }
}
