:root {
  --clr: #ffffff;
}

.technologies {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: clamp(30px, 3vw, 50px);
  margin-top: 10px;
}

.technologies ul {
  color: inherit;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 1px;
  flex-wrap: nowrap;
}

.technologies ul li {
  color: inherit;
  position: relative;
  list-style: none;
  width: clamp(60px, 5vw, 70px);
  z-index: 1;
}

.technologies ul li .icon-cont {
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.technologies ul li .icon-cont .icon {
  opacity: .8;
  position: relative;
  display: block;
  font-size: clamp(30px, 2vw, 30px);
  text-align: center;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.technologies ul li .icon-cont .text {
  color: inherit;
  position: absolute;
  counter-reset: var(--clr);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

@media screen and (min-width: 500px) {
  .technologies ul li:hover .icon-cont .icon {
    transform: translateY(-50px);
    opacity: 0;
  }
  .technologies ul li:hover .icon-cont .text {
    opacity: 1;
    transform: translateY(0px);
  }
}


